body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("layered-peaks-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #595037;
}
main {
  margin-top: 70px;
}
header img {
  width: 70px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #ffd000;
  padding: 1px 5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li,
a,
button {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.btn {
  background-color: #ffd000;
  width: 150px;
  height: 30px;
  border-radius: 7px;
  border: 2px solid #595037;
}
.btn:hover {
  background-color: #ffd000;
  border-radius: 7px;
  border: 2px solid #595037;
}
.logo {
  cursor: pointer;
  margin-bottom: 10px;
}
.logo:hover {
  width: 75px;
}
li {
  display: inline-block;
  margin-left: 200px;
}
a {
  color: #ffd000;
  font-weight: 800;
  font-size: 25px;
}

.form-title {
  text-align: center;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  color: #ffd000;
}
.container {
  width: 80%;
}
.form-body {
  text-align: center;
  background-color: #e7eae7;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 20px 20px 40px;
}
label {
  color: #ffd000;
  font-size: 1.4rem;
  white-space: nowrap;
  margin-left: 15px;
  font-weight: 800;
}
td {
  padding: 15px;
}
fieldset {
  border-radius: 10px;
  border: 0px solid transparent;
}
.text {
  width: 450px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f7f6;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input[type="submit"] {
  width: 500px;
  height: 65px;
  border: 2px solid #ffd000;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 15px;
  color: #ffd000;
  cursor: pointer;
  background-color: #595037;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input[type="submit"]:hover {
  color: #595037;
  background-color: #ffd000;
  border: 2px solid #595037;
  border-radius: 10px;
}
.form-body {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1000px) {
  .side-img {
    display: none;
  }
  li {
    margin-left: 70px;
  }
}
.side-img {
  border: 7px solid #595037;
  padding: 20px;
  margin-left: 35px;
  border-radius: 7px;
}
.fields {
  padding-top: 20px;
}

form input[type="radio"] {
  accent-color: #ffd000;
  height: 35px;
  width: 35px;
  vertical-align: middle;
}
